body{
    background: rgba(168,0,119,1);
background: -moz-linear-gradient(-45deg, rgba(168,0,119,1) 0%, rgba(168,0,119,1) 13%, rgba(235,123,198,1) 71%, rgba(235,123,198,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(168,0,119,1)), color-stop(13%, rgba(168,0,119,1)), color-stop(71%, rgba(235,123,198,1)), color-stop(100%, rgba(235,123,198,1)));
background: -webkit-linear-gradient(-45deg, rgba(168,0,119,1) 0%, rgba(168,0,119,1) 13%, rgba(235,123,198,1) 71%, rgba(235,123,198,1) 100%);
background: -o-linear-gradient(-45deg, rgba(168,0,119,1) 0%, rgba(168,0,119,1) 13%, rgba(235,123,198,1) 71%, rgba(235,123,198,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(168,0,119,1) 0%, rgba(168,0,119,1) 13%, rgba(235,123,198,1) 71%, rgba(235,123,198,1) 100%);
background: linear-gradient(135deg, rgba(168,0,119,1) 0%, rgba(168,0,119,1) 13%, rgba(235,123,198,1) 71%, rgba(235,123,198,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a80077', endColorstr='#eb7bc6', GradientType=1 );
    background-attachment: fixed;
}
.padre{
    margin: 0 auto;
    padding: 25px;
    
}
.hijo1{
    border: solid;
    padding: 40px;
    width: 100%;
    height: 100%;
}
.hijo2{
border: solid;
padding: 40px;
width: 100%;
height: 100%;
}
#contador{
    background-color: transparent;
    border: solid;
    border-color: black;
    color:aliceblue;
    text-align: right;
}
.formul{
    background-color: transparent;
    border: solid;
    border-radius: 25px;
    border-color: black;
    width: 100%;
    height: 60px;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    font-size: 30px;

}
input::placeholder{
    color: white; 
    font-size: 20px;
}
#enviar{
    background-color: rgb(212, 67, 67);
    color: aliceblue;
    width: 100%;
    height: 60px;
    font-size: 30px;
    border: solid;
    border-radius: 25px;
    border-color: black;
    padding: 5px;
}

#registros{
    background-color: rgb(207, 126, 188);
}
.fondo{
    background-color: rgb(207, 126, 188);
    width: 100%;
    height: 100%;
    
}
#anterior{
    background-color: rgb(93, 186, 222);
    border: solid;
    border-radius: 25px;
    border-color: black;
    padding: 5px;
    color: aliceblue;
}
#siguiente{
    background-color: rgb(105, 234, 126);
    border: solid;
    border-radius: 25px;
    border-color: black;
    padding: 5px;
    color: aliceblue;
}
.botones{
    position: relative;
    top: 15%;
}
#eliminar{
    width: 100%;
    background-color: rgb(241, 67, 67);
    border: solid;
    border-radius: 25px;
    border-color: black;
    padding: 10px;
    color: aliceblue;

}
#editar{
    width: 100%;
    background-color: rgb(192, 67, 241);
    border: solid;
    border-radius: 25px;
    border-color: black;
    padding: 10px;
    color: aliceblue;
}
.producto{
    border: solid;
    padding: 25px;
}